footer {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

footer .logo {
  height: 3em;
  padding: 1.5em;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  color: darkcyan;
  font-size: 15px;
  opacity: 0.8;
  font-style: italic;
}

footer a:hover {
  opacity: 1;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
